.container {
  box-sizing: border-box;
  padding: 8px;
  width: 106px;
  background-color: aqua;
}

.container > * {
  /* Change the font to "Times New Roman" or comment to fix. */
  font-family: Arial;
  font-size: 24px;
  line-height: 1.33;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
